# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.svn/entries
.svn/format
.svn/wc.db
trunk/css/sticky-list_admin_styles.css
trunk/css/sticky-list_styles.css
trunk/img/ajax-spinner.gif
trunk/js/list.min.js
trunk/js/sticky-list_scripts.js
trunk/languages/sticky-list-sv_SE.mo
trunk/languages/sticky-list-sv_SE.po
trunk/languages/sticky-list.mo
trunk/languages/sticky-list.pot
trunk/sticky-list.php
trunk/readme.txt
